.Card {
  width: 16.2rem;
  height: 30rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;

  #Text {
    line-height: 1rem;
    margin: 0.75rem 1rem 0rem 1rem;
  }
  .Card,
  img {
    width: 14.2rem;
    height: 14rem;
    padding: 1rem 0rem 0rem 1rem;
  }

  #Title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #19191d;
  }

  #Autor {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #787885;
    padding: 6px 0px 6px 0px;
  }

  #Description {
    font-family: "Inter", sans-serif;
    font-size: 13.2px;
    color: #787885;
    line-height: 1.1rem;
  }
  #Flex {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #2264d1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0px 24px 0px;
    align-items: center;

    #Genre {
      border: 1px solid #9dc2ff;
      border-radius: 4px;
      padding: 6px 12px 6px 12px;
    }
  }
}
